#banner{
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
}
comentario
#banner img{
    width: 100%;
}
#carrossel-contain {
    width: 100%;
    width: 1920px;
    max-width: 1920px;
    height: 500px;
    border: 2px solid #cccccc;
    border-radius: 10px;
    overflow: hidden;
    position: relative;
    object-fit: cover; /* Isso garante que a imagem preencha o contêiner sem distorção */
    display: block; /* Remove o espaço em branco abaixo da imagem */
   
}

.carrossel{
    display: flex;
    
}

.carrossel-contain>button   {
    background-color: rgba(0, 0, 0, 0.5);
    color: white;

    padding: 10px;
    border-radius: 5px;
    border: none;

    transform: translateY(-50%);
    position:absolute;
    top: 50%;
}




